.bg4,
.line {
  position: absolute;
}
.bg4 {
  top: 0;
  left: 0;
  background-color: #d8c4f1;
  width: 1500px;
  height: 901px;
}
.line {
  top: -0.1px;
  left: -1px;
  border-right: 2px solid var(--border);
  box-sizing: border-box;
  width: 2px;
  height: 567.1px;
}
.job-matching,
.match-candidates-with {
  position: absolute;
  display: inline-block;
}
.match-candidates-with {
  top: 53px;
  right: 0;
  line-height: 160%;
  width: 626px;
  height: 67px;
}
.job-matching {
  top: 0;
  right: 349px;
  font-size: var(--font-size-13xl);
  color: var(--primary-text);
  width: 277px;
  height: 37px;
}
.bg5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 34.8px;
  height: 35.9px;
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  z-index: 0; /* This will ensure the background is below the icon */
}
.icon {
  top: 0.8px;
}
.concise-versions-of,
.function {
  position: absolute;
  top: 446px;
  right: 0;
  width: 690.2px;
  height: 120px;
}
.concise-versions-of {
  top: 84px;
  line-height: 160%;
  display: inline-block;
  width: 626px;
  height: 68px;
}
.interview-video-summaries {
  position: absolute;
  top: 30px;
  right: 204px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  color: var(--primary-text);
  width: 422px;
  height: 36px;
}
.bg6 {
  position: absolute;
  top: 31.6px;
  left: 27.8px;
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  width: 34.8px;
  height: 35.9px;
}
.icon-child {
  overflow: hidden;
}
.icon-child,
.icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.function1 {
  position: absolute;
  top: 264px;
  right: 0;
  width: 718px;
  height: 152px;
}
.this-feature-can,
.voice-to-text {
  position: absolute;
  display: inline-block;
}
.this-feature-can {
  top: 54px;
  right: 0;
  line-height: 160%;
  width: 626px;
  height: 67px;
}
.voice-to-text {
  top: 0;
  right: 324px;
  font-size: var(--font-size-13xl);
  color: var(--primary-text);
  width: 306px;
  height: 36px;
}
.icon2 {
  position: absolute;
  top: 1.4px;
  left: 0;
  width: 34.8px;
  height: 35.9px;
}
.function2,
.record-interviews-at {
  position: absolute;
  top: 143px;
  right: 0;
  width: 690.2px;
  height: 121px;
}
.record-interviews-at {
  top: 46px;
  line-height: 160%;
  display: inline-block;
  width: 626px;
  height: 75px;
}
.self-schedule-interviews {
  position: absolute;
  top: 0;
  right: 222px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  color: var(--primary-text);
  width: 404px;
  height: 37px;
}
.icon3 {
  position: absolute;
  top: 0.9px;
  left: 0;
  width: 34.8px;
  height: 35.9px;
}
.function3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 690.2px;
  height: 121px;
}
.functions {
  position: absolute;
  top: 271px;
  left: 182px;
  width: 720px;
  height: 566px;
  color: var(--secondary-text);
}
.our-features {
  position: absolute;
  top: 0;
  right: 675px;
  line-height: 120%;
  display: inline-block;
  width: 619px;
  height: 69px;
}
.bg9,
.job2,
.lyn2 {
  position: absolute;
  left: 0;
}
.bg9 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
}
.job2,
.lyn2 {
  top: 6.38%;
  line-height: 44px;
}
.job2 {
  height: 76.6%;
  width: 49.51%;
  top: 0;
  left: 50.49%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-courgette);
  display: inline-block;
}
.lyn-container {
  position: absolute;
  height: 11.69%;
  width: 6.87%;
  top: 20.65%;
  right: 85.8%;
  bottom: 67.66%;
  left: 7.33%;
}
.secondary-button-text1 {
  position: relative;
  font-weight: 500;
}
.input1,
.secondary-button1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
}
.secondary-button1 {
  width: 25%;
  right: 0;
  left: 75%;
  background-color: var(--color-white);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-13xl);
}
.input1 {
  width: 83.82%;
  right: 16.18%;
  left: 0;
  border: 1px solid var(--color-aliceblue);
}
.your-email1 {
  position: absolute;
  top: 34.38%;
  left: 4.41%;
  color: var(--color-aliceblue);
  text-align: left;
  opacity: 0.8;
}
.form-field1 {
  position: absolute;
  height: 30.77%;
  width: 100%;
  top: 69.23%;
  right: 0;
  bottom: 0;
  left: 0;
}
.subscribe-to-get1 {
  position: absolute;
  width: 80.88%;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 140%;
  display: inline-block;
  color: var(--color-white);
  text-align: left;
}
.form1 {
  position: absolute;
  height: 51.74%;
  width: 36.27%;
  top: 23.88%;
  right: 7.33%;
  bottom: 24.38%;
  left: 56.4%;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--primary-text);
}
.about-us3,
.contact3,
.team1,
.what-we-do4 {
  position: absolute;
  top: 89.52%;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
  cursor: pointer;
}
.about-us3,
.team1,
.what-we-do4 {
  top: 67.62%;
}
.about-us3,
.team1 {
  top: 45.71%;
}
.about-us3 {
  top: 23.81%;
}
.home3,
.our-team1 {
  position: absolute;
  top: 0;
  left: 0;
}
.home3 {
  font-size: var(--font-size-base);
  line-height: 160%;
}
.our-team1 {
  height: 100%;
  width: 20.22%;
  right: 79.78%;
  bottom: 0;
}
.events1,
.projects1 {
  position: absolute;
  top: 45.71%;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
}
.projects1 {
  top: 23.81%;
}
.more2 {
  position: absolute;
  height: 100%;
  width: 14.21%;
  top: 0;
  right: 41.53%;
  bottom: 0;
  left: 44.26%;
}
.linkdin1,
.twitter1 {
  position: absolute;
  top: 89.52%;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
}
.twitter1 {
  top: 67.62%;
}
.connect2,
.links1 {
  position: absolute;
  height: 100%;
  width: 17.49%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 82.51%;
}
.links1 {
  height: 52.24%;
  width: 24.4%;
  top: 23.88%;
  right: 53.13%;
  bottom: 23.88%;
  left: 22.47%;
  font-size: var(--font-size-sm);
}
.footer1,
.text3 {
  position: absolute;
  width: 1500px;
}
.footer1 {
  top: 754px;
  left: 0;
  height: 402px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.text3 {
  top: 147px;
  right: 0;
  height: 1156px;
  font-size: 55px;
}
.what-we-do5 {
  position: absolute;
  top: -19px;
  left: 96px;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;
}
.line-icon1,
.section-title {
  position: absolute;
  top: -10.5px;
  left: 0;
  width: 72px;
  height: 2px;
}
.section-title {
  top: 115px;
  left: 110px;
  width: 19px;
  height: 212px;
  transform-origin: 0 0;
  font-size: var(--font-size-base);
}
.envelope-open-text-icon,
.saly-43-icon,
.vector-icon2 {
  position: absolute;
  top: 420px;
  left: 217px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.saly-43-icon,
.vector-icon2 {
  height: 1.94%;
  width: 1.67%;
  top: 84.25%;
  right: 83.8%;
  bottom: 13.81%;
  left: 14.53%;
  max-width: 100%;
  max-height: 100%;
}
.saly-43-icon {
  height: 104.87%;
  width: 104.5%;
  top: -5%;
  right: -4.5%;
  bottom: 0.13%;
  left: 0;
  object-fit: cover;
}
.saly-43 {
  position: absolute;
  top: 46.4px;
  left: 779px;
  width: 320.1px;
  height: 308.3px;
  transform: rotate(-2.75deg);
  transform-origin: 0 0;
}

.what-we-do3 {
  position: absolute;
  top: 1686px;
  left: 0;
  width: 1500px;
  height: 1303px;
}
.vector-icon3 {
  position: absolute;
  height: 20%;
  width: 100%;
  right: 327px;
  bottom: 536px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1; /* This will ensure the icon is above the background */
}
.heres-how-we {
  margin: 0;
}
.we-provide-access {
  margin-bottom: 0;
}
.we-provide-access-to-hundreds {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.heres-how-we-container {
  top: 196px;
  right: 0;
  line-height: 160%;
  font-family: var(--font-inherit);
  color: var(--secondary-text);
  width: 787px;
  height: 518px;
}
.heres-how-we-container,
.know-about-us,
.we-provide-a {
  position: absolute;
  display: inline-block;
}
.we-provide-a {
  top: 50.3px;
  right: 72px;
  font-size: var(--h2-size);
  line-height: 120%;
  width: 713.9px;
  height: 114.5px;
}
.know-about-us {
  top: -18.8px;
  left: 112.9px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 177.6px;
  height: 18.8px;
}
.line-icon2,
.section-title1 {
  position: absolute;
  top: -10.4px;
  left: 0;
  width: 84.7px;
  height: 2px;
}
.section-title1 {
  top: 18.8px;
  width: 18.8px;
  height: 290.5px;
  transform-origin: 0 0;
  font-size: var(--font-size-base);
}
.about-section,
.top-row {
  position: absolute;
  top: 0;
  left: 58px;
  width: 900px;
  height: 714px;
}
.about-section {
  top: 953px;
  right: 479px;
  font-size: var(--font-inherit);
}
.looking-for-a {
  line-height: 120%;
  display: inline-block;
}
.header,
.header-text,
.looking-for-a,
.the-easiest-way {
  position: absolute;
  top: 0;
  left: 0;
  width: 651px;
  height: 187px;
}
.header,
.the-easiest-way {
  top: 78px;
  left: 84px;
}
.the-easiest-way {
  top: 278px;
  font-size: 35px;
  line-height: 120%;
  font-weight: 100;
  display: inline-block;
  width: 609px;
  height: 251px;
}
.button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.get-started {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 73px);
}
.button {
  position: absolute;
  top: 570px;
  left: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 308px;
  height: 72px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.doodle-3-1-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.doodle-3-1 {
  position: absolute;
  top: 202px;
  left: 677px;
  width: 146px;
  height: 126px;
}
.doodle-5-1,
.saly-10-icon {
  position: absolute;
  height: 20.54%;
  width: 12%;
  top: 10.61%;
  right: 16.27%;
  bottom: 68.84%;
  left: 71.73%;
}
.saly-10-icon {
  height: 100.54%;
  width: 52.53%;
  top: -4.49%;
  right: 0.47%;
  bottom: 3.95%;
  left: 47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.saly-10 {
  position: absolute;
  top: -33px;
  left: 705px;
  width: 788px;
  height: 739px;
}
.saly-14,
.saly-38 {
  position: absolute;
  top: 764px;
  left: 1012px;
  width: 481px;
  height: 875px;
}
.saly-38 {
  top: 1689px;
  left: 927px;
  width: 690px;
  height: 785px;
}
.doodle-2-1,
.saly-28 {
  position: absolute;
  height: 24.76%;
  width: 16.27%;
  top: 1.9%;
  right: 30.27%;
  bottom: 73.33%;
  left: 53.47%;
}
.saly-28 {
  height: 20.82%;
  width: 12.27%;
  top: 3.95%;
  right: 3.33%;
  bottom: 75.24%;
  left: 84.4%;
}
.header-parent {
  position: absolute;
  top: 120px;
  left: -1px;
  background-color: #b3bef5;
  width: 1500px;
  height: 735px;
  font-size: 64px;
  color: var(--color-black);
}
.saly-32-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -17.24%;
  bottom: 0;
  left: 17.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.saly-32{
  position: absolute;
  top: 1237px;
  left: -55px;
  width: 319px;
  height: 449px;
}
.vector-icon4 {
  position: absolute;
  top: 80.72%;
  right: 1278px;
  width: 1.67%;
  height: 0.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.job3,
.lyn3 {
  position: absolute;
  top: 3.3%;
  left: 0;
  line-height: 44px;
}
.job3 {
  height: 63.74%;
  width: 50%;
  top: 0;
  left: 50%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-courgette);
  display: inline-block;
}
.group-div,
.home4 {
  position: relative;
  cursor: pointer;
}
.group-div {
  width: 98px;
  height: 45.5px;
  font-size: var(--font-size-5xl);
}
.home4 {
  font-weight: 500;
}
.nav-link2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-21xl);
  color: var(--secondary-text);
}
.nav-button1,
.navbar2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-button1 {
  border-radius: var(--br-9xs);
  background-color: #172d7c;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  cursor: pointer;
  text-align: right;
  color: var(--color-white);
}
.navbar2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  backdrop-filter: blur(30px);
  border-bottom: 1px solid var(--color-gray-500);
  align-items: center;
  padding: var(--padding-lg) var(--padding-91xl);
  gap: var(--gap-252xl);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.home-page {
  position: relative;
  background-color: var(--bg);
  width: 100%;
  height: 2987px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--primary-text);
  font-family: var(--h2);
}
